services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: always
    ports:
      - "8002:80"
    volumes:
      - storage_volume_app2:/var/www/html/storage
      - uploads_volume_app2:/var/www/html/public/uploads

volumes:
  storage_volume_app2:
  uploads_volume_app2:
